@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@500&display=swap');

html {
	box-sizing: border-box;
}

body {
	margin: 0;
	min-height: 100vh;
	font-family: Commissioner, sans-serif;
}

h1 {
	text-align: center;
	margin-top: 25px;
	margin-bottom: 10px;
	letter-spacing: 3px;
}

.loading-spinner {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.5);
}

.loading-spinner img {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.image-container {
	margin: 10px 30%;
}

.image-container img {
	width: 100%;
	margin-top: 10px;
}

@media screen and (max-width: 600px) {
	h1 {
		font-size: 18px;
	}

	.image-container {
		margin: 10px;
	}
}
